.library {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(155, 155, 155);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 35rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 30%;
  }
}

.library-song {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover {
    background: rgb(222, 222, 255);
  }
}

.song-description {
  padding-left: 2rem;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.selected {
  background-color: rgb(145, 165, 218);
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 678px) {
  .library {
    width: 100%;
  }
}
