.nav-container {
  font-size: 1.6rem;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 1rem;
    background-color: transparent;
    border: 2px solid rgb(65, 65, 65);
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: #fff;
    }
  }
}

@media screen and (max-width: 678px) {
  button {
    z-index: 100;
  }
}
