.player {
  font-size: 1.6rem;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  input {
    width: 100%;
    -webkit-appearance: none;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
@media screen and (max-width: 678px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
