.player {
  font-size: 1.6rem;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  input {
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.track {
  background: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animated-track {
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  pointer-events: none;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #000;
}

@media screen and (max-width: 678px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
