.song-container {
  font-size: 1.6rem;
  min-height: 60vh;
  width: 100%;
  color: rgb(155, 155, 155);
  text-align: center;
  padding: 4rem 0;
  h2 {
    color: rgba(0, 0, 0, 0.8);
  }
  h3 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
  }

  img {
    width: 20%;
    border-radius: 50%;
  }
}

@media screen and (max-width: 678px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
