@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

.App {
  transition: all 0.5s;
}

.active-library {
  margin-left: 30rem;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
